/*----------- Archivo CSS del Cabecero ---------------*/

header{
    background-color: rgb(5, 44, 88);
    border-bottom: 2px solid rgb(11, 11, 192);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand{
    color: rgb(180, 180, 180);
    font-weight: bold;
}

.navbar-brand:hover{
    color:rgb(19, 168, 179);
}

.texto-pestanas{
    font-family: 'Alegreya Sans';
    font-size: 20px;
    letter-spacing: 0.5px;
}