<section>   
    <!-- Slider de imagenes -->   
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide div-slider" data-ride="carousel">
            <!-- Botones inferiores para elegir la imagen -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
        
            <!-- Imágenes -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="primer-slide" class="d-block w-100" src="assets/img/slider-1-1800.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img id="segundo-slide" class="d-block w-100" src="assets/img/slider-2-1800.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img id="tercer-slide" class="d-block w-100" src="assets/img/slider-3-1800.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img id="cuarto-slide" class="d-block w-100" src="assets/img/slider-4-1800.png" alt="Four slide">
                </div>
            </div>
        </div>
    </div>   
    <div class="container">
        <!-- Profesores -->
        <div class="row div-profesores">
            <select class="form-control" id="exampleFormControlSelect1" #opcionSeleccionada (change)="buscarAsignaturas(opcionSeleccionada)">
                <option selected="" value="0">Elija un profesor</option>
                <option [id]="i+1" [value]="i+1" *ngFor="let profesor of profesores; let i = index">
                    {{profesor.proNombre}}
                </option>
            </select>
        </div>
        <!-- Asignaturas -->        
        <div *ngIf="banderaAsignaturas" class="row div-asignaturas">
            <div class="text-result  col-sm-12 col-md-12 col-lg-12">
                <label>Tabla de Asignaturas a las que pertenece el profesor {{profesorElegido}} (Haga click en una asignatura para ver sus estudiantes)</label>
            </div>
            <div class="text-result  col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Curso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [id]="i" class="filas-asignaturas" *ngFor="let asignatura of asignaturasCursos; let i = index" #filaSeleccionada (click)="buscarEstudiantes(filaSeleccionada)">
                            <th scope="row">{{i+1}}</th>
                            <td>{{asignatura.asiNombre}}</td>
                            <td>{{asignatura.curso}}</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Estudiantes -->
        <div *ngIf="banderaEstudiantes" class="row div-estudiantes">
            <div class="text-result  col-sm-12 col-md-12 col-lg-12">
                <label>Tabla de Estudiantes que pertenencen a la asignatura {{asignaturaElegida}} del curso {{cursoElegido}}</label>
            </div>
            <div class="text-result  col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [id]="i" *ngFor="let estudiante of estudiantes; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{estudiante.estNombre}}</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>       
</section>