/*----------- Archivo CSS de Principal ---------------*/

body {
    background-image: url("../../../assets/img/wallpaper-pergamino.jpg");
}

.container-fluid{    
    padding: 0;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0px 5px;        
    border: none;
    border-radius: 50%;
    /*background-color: #0000ff;*/
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
    background-color: rgb(226, 226, 226);
}

.div-profesores{
    margin-top: 50px;
}

.div-asignaturas{
    margin-top: 30px;
}

.div-estudiantes{
    margin-top: 30px;
    margin-bottom: 120px;
}

table{
    text-align: center;
}

.filas-asignaturas:hover {
    background-color: rgba(5, 44, 88, 0.3);
}

@media (max-width: 1300px) and (min-width: 1001px) {
    #primer-slide{
        content:url("../../../assets/img/slider-1-1300.png");
    }
    #segundo-slide{
        content:url("../../../assets/img/slider-2-1300.png");
    }
    #tercer-slide{
        content:url("../../../assets/img/slider-3-1300.png");
    }    
    #cuarto-slide{
        content:url("../../../assets/img/slider-4-1300.png");
    }
}

@media (max-width: 1000px) and (min-width: 769px) {
    #primer-slide{
        content:url("../../../assets/img/slider-1-1000.png");
    }
    #segundo-slide{
        content:url("../../../assets/img/slider-2-1000.png");
    }
    #tercer-slide{
        content:url("../../../assets/img/slider-3-1000.png");
    }    
    #cuarto-slide{
        content:url("../../../assets/img/slider-4-1000.png");
    }
}

@media (max-width: 768px) {
    #primer-slide{
        content:url("../../../assets/img/slider-1-768.png");
    }
    #segundo-slide{
        content:url("../../../assets/img/slider-2-768.png");
    }
    #tercer-slide{
        content:url("../../../assets/img/slider-3-768.png");
    }
    #cuarto-slide{
        content:url("../../../assets/img/slider-4-768.png");
    }
}