<section class="fixed-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <label class="nombre texto-label">Juan Jacobo Florez Monroy</label>
        </div>
        <div class="row justify-content-center">
            <label class="texto-label">jjacoboflorez95@gmail.com</label>
        </div>
    </div>
</section>

