/*----------- Archivo CSS del Pie de página ---------------*/

section{
    height:70px;
    background:rgb(197, 197, 197);     
}

.nombre{
    margin-top: 5px;
}

.texto-label{
    color:white;       
    font-family: 'Alegreya Sans';
    font-size: 15px;
    letter-spacing: 0.5px;
}